/* 初始化一些样式 */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    /* 去除移动端 默认的 手指 点击 高亮效果  transparent 透明*/
    -webkit-tap-highlight-color: transparent;

    /* 添加 盒子模型 为了 优先 保证 盒子的 大小 */
    -webkit-box-sizing:border-box ;
    box-sizing: border-box;
}

/* a标签 */
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

/* 移动端 会取出 他四周的 边框 */
input{
    border: none;
    outline: none;
    /* 有一些 移动端的浏览器 会有默认的 3d效果 比如 阴影,3d渐变 */
    -webkit-appearance: none;
}

/* 浮动 */
/* 左浮动 */
.f_left{
    float: left;
}

/* 右浮动 */
.f_right{
    float: right;
}
/* 清除浮动 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}


/* 定义为 公共的 m10 */
.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_t10{
    margin-top: 10px;
}


/* 定义 公共的 线段 class */
.b_l{
    border-left: 1px solid #ddd;
}
.b_t{
    border-top: 1px solid #ddd;
}

.b_b{
    border-bottom: 1px solid #ddd;
}

.b_r{
    border-right: 1px solid #ddd;
}

.active{
    border-bottom:2px solid hotpink;
    color:hotpink !important;
}

@keyframes spin { to { transform: rotate(1turn); } }
@keyframes radius { 50% { border-radius: 50%; } }
@keyframes color { 33% { color: orange; } 66% { color: deeppink } }
@keyframes width { 50% { border-width: .3em; } }

.loading:before {
content: '';
display: block;
width: 4em;
height: 4em;
margin: 50px auto 1em;
border: 1.5em solid;
color: #666;
box-sizing: border-box;
animation: 1s spin, .7s radius, 1.1s color, 1.3s width;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

.loading {
    text-align: center;
    margin: auto;
}
