body,
html {
  height: 100%;
}
.floats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: 100;
}
.move {
  transition: all 1s;
  transform: translateX(70%);
}
.move2 {
  transition: all 1s;
  transform: translateX(100%);
}
.move3 {
  transform: translateX(100%);
}
.move1 {
  transition: all 1s;
  transform: translateX(0%);
}
.move4 {
  transform: translateX(0%);
}
.side_bar {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: -70%;
  top: 0;
  background-color: #ffffff;
}
.side_bar > .side_bar_logo {
  width: 100%;
}
.side_bar > .side_bar_logo > img {
  width: 100%;
}
.side_bar > ul {
  margin-top: 40px;
}
.side_bar > ul > li {
  padding-left: 30px;
  padding-right: 20px;
  height: 30px;
  color: firebrick;
  font: 14px/30px "microsoft yahei";
}
.side_bar > ul > li > span {
  font: 600 14px/30px "宋体";
  float: right;
}
.hl_container {
  position: relative;
  width: 100%;
  /* 限制 最大 最小值 */
  max-width: 640px;
  min-width: 320px;
  /* background-color: orange; */
  /* 居中 */
  margin: 0 auto;
  padding: 0;
}
.hl_container .hl_comic_strip {
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 100;
}
.hl_topSearch {
  position: relative;
  height: 40px;
  background-color: #cccccc;
  width: 100%;
  border-bottom: 2px solid #666666;
}
.hl_topSearch > h3 {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  font-family: "microsoft yahei";
  line-height: 40px;
}
.hl_topSearch > .hl_topSearch_btn {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 16px;
  top: 6px;
}
.hl_topSearch > .hl_topSearch_btn > span {
  border-top: 2px solid #d43f3a;
  display: block;
  width: 20px;
  height: 1px;
  margin-top: 5px;
}
.hl_topSearch > .hl_topSearch_searchIcon {
  font-size: 20px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: 10px;
}
.hl_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.hl_banner > .banner_images {
  /* 将 我们的 ul  移动一点 */
}
.hl_banner > .banner_images li {
  float: left;
  width: 25%;
}
.hl_banner > .banner_images li > .banner_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.3);
}
.hl_banner > .banner_images li > .banner_bottom > span {
  padding-left: 10px;
  line-height: 26px;
  font-size: 12px;
  font-family: "microsoft yahei";
  color: #fff;
}
.hl_banner > .banner_images li > a {
  display: block;
  width: 100%;
}
.hl_banner > .banner_images li > a > img {
  display: block;
  width: 100%;
}
.hl_banner > .banner_index {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.hl_banner > .banner_index > li {
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 10px;
  border: 1px solid white;
}
.hl_banner > .banner_index > li :first-child {
  margin-left: 0px;
}
.hl_banner > .banner_index > li.now {
  background-color: white;
}
.hl_main {
  width: 100%;
  height: 30px;
}
.hl_main > .hl_main_nav {
  width: 100%;
  border-bottom: 2px solid #dddddd;
}
.hl_main > .hl_main_nav > span {
  text-align: center;
  display: inline-block;
  color: #000;
  width: 24%;
  font-size: 14px;
  line-height: 30px;
  font-family: "microsoft yahei";
  margin-top: -2px;
}
.hl_main > .h1_main_content {
  width: 100%;
}
.hl_main > .h1_main_content > .main_items {
  width: 100%;
}
.hl_main > .h1_main_content > .main_items > li {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 300px;
  float: left;
  height: 100%;
  border: 1px solid #000;
  padding: 6px;
  left: 1px;
  top: 1px;
  margin-top: -1px;
  margin-left: -1px;
}
.hl_main > .h1_main_content > .main_items > li > a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.hl_main > .h1_main_content > .main_items > li > a div {
  position: relative;
}
.hl_main > .h1_main_content > .main_items > li > a div img {
  width: 100%;
}
.hl_main > .h1_main_content > .main_items > li > a div .items_update {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  height: 30px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 30px;
}
.hl_main > .h1_main_content > .main_items > li > a .items_name {
  height: 16px;
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  font-size: 10px;
  margin-top: 6px;
}
